###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/private.pem
/config/jwt/public.pem
###< lexik/jwt-authentication-bundle ###

# Editors
.vscode/
.idea/
*.suo

# OS
.DS_Store
Thumbs.db

# PHPUnit
/phpunit.xml
.phpunit.result.cache
